@import url(./fontawesome/css/all.min.css);
@charset "utf-8";
body {
	z-index: 1;
}
body, ul {
	margin: 0;
	padding: 0;
}
h1 {
	margin: 10px 0;
	font-size: 2.5em;
	letter-spacing: 5px;
	font-family: 'Comic Sans MS';
}
.container {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
}
header {
	position: fixed;
	top: 0;
	height: 100px;
	width: 100vw;
	color: white;
	background: linear-gradient(#222, #393939, #666);
	z-index: 80;
}
.update {
	position: absolute;
	top: 32px;
	right: 0;
	font-size: .8rem;
	text-decoration: underline;
}
.menu-wrapper {
	position: absolute;
	right: 0;
	bottom: -28px;
}
.menu {
	list-style: none;
	display: flex;
}
.menu-title {
	display: none;
}
.menu li {
	margin-left: 28px;
	text-align: center;
	cursor: pointer;
}
.menu li.sel {
	font-weight: bold;
	transform: scale(1.1, 1.1);
	cursor: default;
}
.menu li:hover {
	font-weight: bold;
}
.humberger {
	display: none;
	margin-right: 14px;
	font-size: 1.8em;
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	background: black;
	z-index: 50;
}
#content {
	margin-top: 110px;
	margin-bottom: 50px;
}
article {
	display: none;
}
article.sel {
	display: block;
}
.mask {
	display: none;
	position: fixed;
	background: #333;
	top: 100px;
	width: 100%;
	min-height: calc(100vh - 100px);
	opacity: 0;
}
.mask.on {
	display: block;
	animation: switchContents 1.6s ease-in-out;
}
@keyframes switchContents {
	0% {left: -100%; opacity: 0;}
	40% {left: 0; opacity: 1;}
	60% {left: 0; opacity: 1;}
	100% {left: 100%; opacity: 0;}
}

@media screen and (max-width: 480px) {
	header {
		height: 70px;
	}
	#content {
		margin-top: 76px;
	}
	h1 {
		margin-top: 18px;
		font-size: 1.7em;
		letter-spacing: 0;
	}
	.update {
		display: none;
	}
	.container {
		padding: 0 14px;
	}
	.menu-wrapper {
		bottom: -5px;
	}
	.humberger {
		display: block;
	}
	.menu-title h2 {
		margin: 0 0 0 -10px;
		padding: 14px 0 14px 14px;;
		font-size: 1.6em;
		text-align: left;
		font-family: 'Comic Sans MS';
	}
	.menu-title p {
		margin: 0 0 0 -10px;
		letter-spacing: 3px;
		padding: 8px;
		font-size: 1.2em;
		font-weight: bold;
		border-top: dotted 1px #fff;
		border-bottom: dotted 1px #fff;
	}
	.close {
		position: absolute;
		top: 12px;
		right: 10px;
		font-size: 1.8em;
	}
	.menu {
		position: fixed;
		z-index: 100;
		top: 0;
		height: 100vh;
		display: block;
		background: #333;
		width: 85vw;
		left: -85vw;
		transition: left .2s ease-out;
	}
	.menu.show {
		left: 0;
	}
	.menu-title {
		display: block;
		position: relative;
	}
	.menu li {
		margin-left: 0;
	}
	.menu li:not(.menu-title) {
		text-align: left;
		padding: 12px 5px 12px 40px;
		position: relative;
		letter-spacing: 2px;
	}
	.menu li:not(.menu-title)::before {
		font-family: "Font Awesome 5 Free";
		content: "\f111";
		font-weight: 900;
		position: absolute;
		left: 15px;
		top: 14px;
	}
	.menu li.sel {
		font-weight: normal;
		text-shadow: none;
		background: #888;
		transform: scale(1, 1);
	}
	.mask {
		top: 70px;
		min-height: calc(100vh - 70px);
	}
	@keyframes switchContents {
		0% { opacity: 0;}
		40% { opacity: 1;}
		60% { opacity: 1;}
		100% { opacity: 0;}
	}
}

/* profile */
.profile {
	width: 760px;
	margin:20px auto 10px;
	border-collapse: collapse;
}
.profile caption {
	text-align: left;
	padding: 10px;
	font-family: 'Comic Sans MS';
	font-size: 1.5em;
}
.profile tr {
	border-top: dotted 1px #888;
}
.profile tr:last-of-type {
	border-bottom: dotted 1px #888;
}
.profile th {
	width: 150px;
	font-weight: normal;
	text-align: left;
}
.profile td, .profile th {
	padding: 6px 10px;
}
@media screen and (max-width: 480px) {
	.profile {
		width: 100%;
	}
	.profile th {
		width: 20%;
	}
	.profile td, .profile th {
		font-size: .9rem;
	}
}

/** acordion */
.accordion .a_title {
	margin: 0;
	padding: 0;
	display: none;
	font-family: 'Comic Sans MS';
}

.accordion > section {
	width: 100%;
	margin-top: 15px;
}
.accordion > section + section{
	margin-top: 20px;
}

.accordion .header {
	border-radius: 6px;
	padding: 4px 10px;
	display: flex;
	cursor: pointer;
}
.accordion section.blue .header {
	background: linear-gradient(#3388bb, #66aaee);
}
.accordion section.blue .detail {
	background: #eef;
}
.accordion section.red .header {
	background: linear-gradient(#bb5555, #dd7777);
}
.accordion section.red .detail {
	background: #fee;
}
.accordion section.green .header {
	background: linear-gradient(#339933, #77bb77);
}
.accordion section.green .detail {
	background: #efe;
}
.accordion section.gray .header {
	background: linear-gradient(#666666, #999999);
}
.accordion section.gray .detail {
	background: #f5f5f5;
}
.accordion .title {
	margin-right: auto;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 26px;
	padding-left: 5px;
	color: white;
	line-height: 40px;
}
.accordion .title > span {
	font-weight: normal;
	font-size: 12px;
	display: inline-block;
	margin-left: 5px;
	letter-spacing: 1px;
	vertical-align: middle;
}
.accordion .title > span::before {
	content: "(";
}
.accordion .title > span::after {
	content: ")";
}
.accordion .star {
	color: #eeee00;
	margin-right: 5px;
	font-size: 16px;
	width: 80px;
}
.accordion .star i {
	line-height: 40px;
}
.accordion .star i + i {
	margin-left: 4px;
}
.accordion .header > i {
	font-size: 1.8em;
	color: white;
  margin: 2px 4px 0 12px;
	line-height: 1.2;
	transition: transform .3s;
}
.accordion section.open .header {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.accordion section.open .header > i {
	transform: rotate(180deg);
}
.accordion .detail {
	border-top: none;
	overflow: hidden;
	padding: 0 10px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	height: 0;
	opacity: 0;
	transition: opacity .3s, padding .3s, height .3s;
}
.accordion section.open .detail {
	opacity: 1;
	padding: 10px;
	height: auto;
}

.accordion .detail .note {
	padding: 10px 15px;
	margin: 5px;
	background: #f1cc88;
	font-size: .9rem;
	color: #444;
}

.card-wrapper {
	display: flex;
	flex-flow: row wrap;
}
.card-wrapper .card {
	display: flex;
	width: 50%;
	padding: 6px;
	box-sizing: border-box;
}
.card .card-title {
	background: #888;
	width: 140px;
	padding: 5px 5px 5px 10px;
	color: white;
	font-weight: bold;
	font-size: 1.35em;
	box-sizing: border-box;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.card .card-content {
	background: white;
	width: calc(100% - 140px);
	padding: 5px;
	font-size: .9rem;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

em {
	padding: 0 3px;
	margin: 0 2px;
	font-style: normal;
	display: inline-block;
	background-image: linear-gradient(0deg, #fff 20%, #ffee99 20%, #ffee99 40%, #fff 40% );
}
.note em {
	color: #222;
	background-image: linear-gradient(0deg, #f1cc88 20%, #bbddff 20%, #bbddff 40%, #f1cc88 40% );
}

@media screen and (max-width: 480px) {
	.accordion .a_title {
		display: block;
		padding-top: 8px;
    font-weight: bold;
    font-size: 1.2em;
	}
	.accordion > section {
		margin-top: 12px;
	}
	.accordion > section + section{
		margin-top: 15px;
	}
	.accordion .title {
		letter-spacing: 0;
		font-size: 22px;
		padding-left: 5px;
		line-height: 34px;
	}
	.accordion .star {
		margin-right: 5px;
		font-size: 14px;
		width: 60px;
	}
	.accordion .star i {
		line-height: 34px;
	}
	.accordion .header > i {
		font-size: 1.7em;
		line-height: 1.1;
	}
	.card-wrapper {
		display: flex;
		flex-flow: column;
	}
	.card-wrapper .card {
		display: flex;
		width: 100%;
		padding: 6px;
		box-sizing: border-box;
	}
	.card .card-title {
		width: 120px;
		padding: 5px 5px 5px 10px;
		color: white;
		font-weight: bold;
		font-size: 1.15em;
	}
	.card .card-content {
		width: calc(100% - 120px);
		font-size: .8rem;
	}
	.accordion .detail .note {
		font-size: .8rem;
	}
}

/** skill */
.skill {
	padding-top: 5px;
}

/** simple article */
.simple .a_title {
	margin: 0;
	padding: 0;
	display: none;
	font-family: 'Comic Sans MS';
}
.simple dl {
	width: 760px;
	margin:0 auto 10px;
	position: relative;
	top: 20px;
}
.simple dt {
	margin-top: 20px;
	border-left: solid 4px #083;
	background: #f1fff1;
	padding: 5px 8px;
	letter-spacing: 2px;
}
.simple dd {
	padding: 14px 6px 10px;
	line-height: 2;
	margin-inline-start: 6px;
}
@media screen and (max-width: 480px) {
	.simple .a_title {
		display: block;
		padding-top: 12px;
    font-weight: bold;
    font-size: 1.3em;
	}
	.simple dl {
		width: 100%;
		top: 14px;
	}
	.simple dl dt:first-of-type {
		margin-top: 0;
	}
	.simple dt {
		margin-top: 10px;
		font-size: .9rem;
	}
	.simple dd {
		margin-inline-start: 3px;
		font-size: .9rem;
	}
}



/** mindset */
.mindset dt {
	border-left: solid 4px #830;
	background: #fff1f1;
}

/** about */
.about dt {
	border-left: solid 4px #083;
	background: #f1fff1;
}
